<button type="button" (click)="modalAddAW()" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Dodaj novog radnika
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Kreiraj profil administrativnog radnika</h5>
          <button type="button" class="btn-close" (click)="modalClose()" data-bs-dismiss="modal" aria-label="Close" id="add-edit-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-aworker [aworker]="aworker" *ngIf="activateAddAWComp"></app-add-aworker>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" id="add-success-alert">
    Novi administrativni radnnik je dodat
  </div>
  
    <div class="alert alert-success" role="alert" id="delete-success-alert">
    Obrisali ste korisnika ...
    </div>
    <div class="container">  
        <table  class="table table-striped">
          <thead> 
            <th>Id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>E-mail</th>
            <th>Password</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of aworkerList$|async" >
              <td>{{item.id}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.pwd}}</td>
              <td>
                <button (click)="delete(item)"  class="btn btn-outline-danger me-2 mb-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
        
        
        