<div class="container mt-5 mb-5">

    <h1 class="text-center">O nama</h1>

    <p>
        Naš informacioni sistem vam omogućava da brzo i kroz par odrađenih koraka dobijete ili predate za upotpunjavanje ili izdavanje novih dokumenata.
    </p>
    <p>
    Funkcije koje obavlja infromacioni ZZJZ su izdavanje zdrastvenih knjižica, overe zdrastvenih knjižica , regulsanje putnih troskova za lečenje u drugom gradu.
    </p>
    <p>Za pristup našem sistemu potrebno je da se logujete uz par koraka, ako nemate nalog kreirajte ga, naša administracija će vam u što bržem roku odobriti zahtev.
    </p>  
    <br/>
    <br/>
        <p><b>Adresa:    </b>Milorada Jovanovića 54, Opština Sjenica 36312</p>
        <p><b>Telefon: </b>  020-444-6668</p>
        <p><b>E-adresa: </b> info@zdravlje.org.rs</p>
</div>