.centar{
    padding: 8%;
}
.form{
    background-color: rgb(243, 248, 249);
    padding-top: 5% ;
    padding-right: 20%;
    padding-left:  20%;
    padding-bottom:  5%;
}
.H1{
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    font-size: 21px;
    color: rgb(183, 180, 180);
}