<diV class="centar">
<form [formGroup]="registerForm" class="form" (ngSubmit)="register()">
    <h1 class="H1"> NAPRAVITE NOVI NALOG</h1>
    <!-- First Name and Last Name -->
    <div class="row mb-3">
        <div class="col">
            <label for="firstname" class="form-label"> Unesite vaše ime: </label>
            <input type="text" class="form-control" id="firstname" formControlName="firstName">

            <!-- Errors -->
            <div class="form-text text-danger"
                 *ngIf="FirstName.errors?.['required'] && (FirstName.dirty || FirstName.touched)">
                 Vaše ime je obavezno.
                </div>
            <div class="form-text text-danger"
                 *ngIf="!!FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)">
                 Vaše ime je kratko. Ne može biti kraće od 2 znaka.
            </div>
            <div class="form-text text-danger"
                 *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)">
                Vaše ime treba da počinje slovom.
            </div>
        </div>
        <div class="col">
            <label for="lastname" class="form-label"> Unesite vaše prezime:</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastName">

            <!-- Errors -->
            <div class="form-text text-danger"
                 *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)">
                 Vaše prezime je obavezno.
            </div>
            <div class="form-text text-danger"
                 *ngIf="!!LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)">
                 Vaše prezime je kratko. Ne može biti kraće od 2 znaka.
            </div>
            <div class="form-text text-danger"
                 *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)">
                 Vaše prezime treba da počinje slovom.
            </div>
        </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label"> Unesite vaš email :</label>
        <input type="email" class="form-control" id="email" formControlName="email">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
            Email je obavezan.
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
            Email nije ispravan.
        </div>
    </div>

    <!-- Address -->
    <div class="mb-3">
        <label for="address" class="form-label"> Unesite adresu stanovanja:</label>
        <input type="text" class="form-control" id="address" formControlName="address">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="Address.errors?.['required'] && (Address.dirty || Address.touched)">
            Addresa je obavezna.
        </div>
    </div>
    <!-- Date -->
    <div class="mb-3">
        <label for="date" class="form-label"> Unesite datum rođenja:</label>
        <input type="date" class="form-control" id="date" formControlName="date">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="date.errors?.['required'] && (date.dirty || date.touched)">
            Datum rođenja je obavezan.
        </div>
    </div>
    <!-- Place -->
    <div class="mb-3">
        <label for="place" class="form-label"> Unesite mesto rođenja:</label>
        <input type="text" class="form-control" id="place" formControlName="place">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="place.errors?.['required'] && (place.dirty || place.touched)">
            Mesto rođenja je obavezno.
        </div>
    </div>
    <!-- JMBG -->
    <div class="mb-3">
        <label for="jmbg" class="form-label"> JMBG:</label>
        <input type="text" class="form-control" id="jmbg" formControlName="jmbg">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="jmbg.errors?.['required'] && (jmbg.dirty || jmbg.touched)">
            JMBG je obavezan.
        </div>
    </div>

    <!-- Password and Repeat Password -->
    <div class="row">
        <div class="col mb-3">
            <label for="pwd" class="form-label"> Unesite lozinku :</label>
            <input type="password" class="form-control" id="pwd" formControlName="pwd">

            <!-- Errors -->
            <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
                Morate uneti lozinku.
            </div>
            <div class="form-text text-danger"
                 *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
                Vaša lozinka ne može biti manja od 6 i veća od 15 karaktera.
            </div>
        </div>
        <div class="col mb-3">
            <label for="rpwd" class="form-label"> Ponovo unesite lozinku:</label>
            <input type="password" class="form-control" id="rpwd" formControlName="rpwd">

            <!-- Errors -->
            <div class="form-text text-danger" *ngIf="invaildRPWD()">
                Ne podudara se.
            </div>
        </div>
    </div>

    <!-- Create Account Button -->
    <div>
        <button type="submit" class="d-block mx-auto btn btn-outline-primary" [disabled]="registerForm.invalid">
            Kreirajte nalog
        </button>
    </div>
</form>
</diV>